obj/
.idea/
latest/
/env-vars.bat
*.suo
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.resharper.user
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
App_Data/
build/*.dll
*.user
*.userprefs
packages/

release/latest/
*.nupkg
release/*

*.DS_Store

NuGet/
NuGet.Pcl/
NuGet.Signed/
*.pfx

build/

*.dotCover

*.DotSettings
*.DotSettings.user